*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  background-color: rgb(16, 24, 40);
  font-family: "Lato", sans-serif;
  font-style: normal;
}
.cellsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.scoreBoard {
  display: flex;
  gap: 4rem;
  font-size: 3rem;
}
.player {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  color: rgb(39, 53, 74);
  font-weight: 600;
}

.score {
  font-weight: 800;
}

.cells {
  background-color: rgb(39, 53, 74);
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 0.5rem;
  position: relative;
}
.draw {
  position: absolute;
  top: 0px;
  bottom: 10px;
  left: 0px;
  right: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  color: rgb(91, 125, 175);
}
.drawText {
  backdrop-filter: blur(1px);
  border-radius: 100px;
  padding-inline: 2rem;
}
.slide-in {
  animation: slide-in 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.slide-out {
  animation: slide-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes slide-out {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
.cell {
  background-color: rgb(16, 24, 40);
  font-size: 8rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  position: relative;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}
.cells.x .cell:not(.x):not(.circle):hover::before {
  content: "X";
  color: rgba(255, 255, 255, 0.2);
}
.cells.circle .cell:not(.x):not(.circle):hover::before {
  content: "O";
  color: rgba(255, 255, 255, 0.2);
}

.cell.x::before {
  content: "X";
}
.cell.circle::before {
  content: "O";
}

.restartButton {
  padding-block: 0.5rem;
  padding-inline: 3rem;
  font-size: 3rem;
  font-weight: 800;
  background-color: rgb(39, 53, 74);
  outline: 0px;
  border: 0px;
  color: rgb(16, 24, 40);
  border-radius: 1rem;
  cursor: pointer;
}

.restartButton:hover {
  background-color: rgba(39, 53, 74, 0.9);
}
